<?xml version="1.0" encoding="gbk"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>mvc_loginregist</display-name>

  <!-- servlet定义 -->
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-servlet.xml</param-value>
    </init-param>
    -->
    
    <!-- 设置启动的优先级，这里表示表示启动容器时初始化该Servlet -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!--通过将DispatcherServlet映射到/，声明了它会作为默认的servlet并且会处理所有请求，包括对静态资源的请求-->
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- 配置ContextLoaderListerner -->
  <listener>
    <listener-class>
     org.springframework.web.context.ContextLoaderListener
   </listener-class>
  </listener>
  
  <!-- 可以配置contextConfigLocation初始化参数 
<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/court-servlet.xml</param-value>
</context-param>

默认初始化参数为
<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
</context-param>
这里使用默认参数
-->

  <!-- 跳转至首页,首页访问地址为http://localhost:8080/项目名-->
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
</welcome-file-list>
</web-app>